* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    font-family: monospace;
}

.mainBox {
    width: 100%;
    height: auto;
}

.mainBox .inputBox {
    max-width: 800px;
    min-width: 320px;
    height: auto;
    margin: 100px auto;
    padding: 50px 45px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(255, 123, 0);
    text-align: center;
    border-radius: 10px;
}

.mainBox .inputBox .titleName {
    width: 100%;
    display: flex;
    margin: 0 0 20px 0;
    justify-content: space-between;
}

.mainBox .inputBox .titleName .editTitle,
.mainBox .inputBox .titleName .saveTitle {
    background: rgb(255 229 0);
    border: none;
    color: black;
    box-shadow: 3px 3px 2px #bfbfbf;
    font-family: monospace;
    border-radius: 6px;
}

.mainBox .inputBox .titleName .editTitle {
    padding: 5px 20px;
}

.mainBox .inputBox .titleName .editTitle:hover {
    background: rgb(255, 243, 135);
}

.mainBox .inputBox .titleName .saveTitle {
    padding: 5px 16px;
    display: none;
    background: #1a781a;
    color: white;
}

.mainBox .inputBox .titleName .saveTitle:hover {
    background: #046604;
}

.mainBox .inputBox .titleName h3 {
    color: #414141;
    font-family: monospace;
    font-size: 20px;
    padding: 0 200px;
}

.mainBox .inputBox .form {
    width: 100%;
    height: auto;
    padding: 20px 0 10px;
    display: flex;
    flex-direction: row;
}

.mainBox .inputBox .form input {
    width: 80%;
    padding: 5px;
    box-shadow: 2px 2px 1px #bfbfbf;
    border: 1px solid #cd5d00;
    border-radius: 6px 0 0 6px;
}

.mainBox .inputBox .form .button {
    width: 20%;
    background: rgb(255, 123, 0);
    padding: 10px;
    border: none;
    color: white;
    font-size: 14px;
    box-shadow: 3px 3px 2px #bfbfbf;
    border-radius: 0 6px 6px 0;
}

.mainBox .inputBox .form .button:hover {
    background: rgb(255, 145, 0);
}

.mainBox .inputBox .maxInputEnter {
    margin: 0 0 10px 0;
    display: flex;
}

.mainBox .inputBox .maxInputEnter p {
    font-size: 12px;
    color: #7f7f7f;
    font-family: monospace;
    margin: 0 5px 0 0;
}

.mainBox .inputBox .buttons {
    width: 100%;
    height: auto;
    padding: 10px 0 50px;
    display: none;
    flex-direction: row;
    justify-content: space-between;
}

.mainBox .inputBox .buttons .buttonDel,
.mainBox .inputBox .buttons .buttonDone,
.mainBox .inputBox .buttons .buttonDelSelect {
    width: 30%;
    padding: 8px;
    border: none;
    color: #414141;
    font-size: 14px;
    box-shadow: 3px 3px 1px #bfbfbf;
    font-family: monospace;
    border-radius: 6px;
    background: #f8f8f8;
}

.mainBox .inputBox .buttons .buttonDel {
    border: 2px solid rgb(255, 0, 0);
}

.mainBox .inputBox .buttons .buttonDone {
    border: 2px solid rgb(45, 150, 24);
}

.mainBox .inputBox .buttons .buttonDelSelect {
    border: 2px solid rgb(255, 217, 0);
}

.mainBox .inputBox .buttons .buttonDel:hover {
    background: white;
    color: rgb(255, 0, 0);
}

.mainBox .inputBox .buttons .buttonDelSelect:hover {
    background: white;
    color: rgb(190, 156, 3);
}

.mainBox .inputBox .buttons .buttonDone:hover {
    background: white;
    color: rgb(45, 150, 24);
}

.mainBox .inputBox .outputBox {
    width: 100%;
    height: auto;
}

.mainBox .inputBox .outputBox ul li {
    border-bottom: 1px solid #c8c8c8;
    padding: 8px 0;
    text-align: left;
    font-family: monospace;
    font-size: 16px;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.butDel {
    border: none;
    margin: 0 15px 0 0;
    background: none;
}

.butDel img {
    width: 25px;
}

.label {
    width: 560px;
    padding: 5px;
    margin: 0 8px 0 0;
}

.chboxInput {
    transform: scale(1.6);
    opacity: 0.9;
    margin: 0 15px 0 5px;
}

.butSave {
    padding: 3px 15px;
    display: none;
    background: #1a781a;
    color: white;
    height: 28px;
    border: none;
    box-shadow: 3px 3px 2px #bfbfbf;
    border-radius: 6px;
}

.butSave:hover {
    background: #046604;
}

.butEdit {
    padding: 3px 20px;
    height: 28px;
    background: rgb(255 229 0);
    color: rgb(0, 0, 0);
    border: none;
    box-shadow: 3px 3px 2px #bfbfbf;
    border-radius: 6px;
}

.butEdit:hover {
    background: rgb(255, 243, 135);
}